{% extends 'QuestAccounting/navbar_styling.html' %}


{% block content %}

<div class="form-center">
    Add Journal Entry
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>

<style>

    .form-center {
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
        border-radius: 25px;
        width: 500px;
        padding: 25px;
        border: 3px solid #ffffff;
        color: #ffffff;
      }

</style>

{% endblock %}