{% extends 'QuestAccounting/navbar_styling.html' %}


{% block content %}


    {% if user.userprofile.profile_pic %}
        <img src="{{ user.userprofile.profile_pic.url }}" class="profile-picture" alt="{{ user.username }}'s profile picture">
    {% else %}
        <img src="{{ '../media/profile_pics/profilepicture.png' }}" class="profile-picture" alt="default profile picture">
    {% endif %}

<button type = "button" onclick = "location.href = '{% url 'view_accounts' %}'">
    <div class="form-center">
        <h1>View Accounts</h1>
    </div>
</button>

<style>

    .form-center {
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
        border-radius: 25px;
        padding: 25px;
        border: 3px solid #ffffff;
        color: #ffffff;
      }

    .profile-picture {
        display: block;
        margin: 0 auto;
        height: 125px;
        border-radius: 50%;
        border: 3px solid #000000;
        margin-bottom: 35px;
        position: absolute;
        top: 90;
        right: 10;
    }

</style>

{% endblock %}