{% extends 'QuestAccounting/navbar_admin.html' %}
<div class="form-center">
    <div class='title'>
        <h1>User Created</h1>
    </div>
        <a href="{% url 'admin' %}"><button type="button" class="button">Return To Admin Homepage</button></a>
</div>
<style>
    body{
        background-color: #000000;
    }

    .title{
        color:#ffffff;
    }
    
    .form-center{
      position: fixed;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      transform: translate(-50%, -50%);
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
      border-radius: 25px;
      padding: 50px;
      border: 3px solid #FFFFFF;
    }
</style>