{% extends 'QuestAccounting/main.html'%}

{% block content %}
    <form method="post" class= 'form-center' action="{% url 'password_reset' %}">
    {% csrf_token %}
    <div class = 'title'>
        <h2>Please enter your email to receive the reset email:<h2>
    </div>
    <div class='info'>
        <label for="{{ form.email.id_for_label }}"><strong>Email:</strong></label>
        {{ form.email }}   
    </div>
    <button type="submit">Reset Password</button>
  </form>

    <style>

        .form-center {
            position: fixed;
            top: 50%;
            left: 50%;
            display: flex;
            justify-content: center;
            transform: translate(-50%, -50%);
            flex-direction: column;
            align-items: center;
            background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
            border-radius: 25px;
            padding: 50px;
            border: 3px solid #FFFFFF;
          }
        
          .info {
            color: #FFFFFF;
            font-size: 22px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        
          .info label {
            width: 100px;
            color: #FFFFFF;
            font-size: 22px;
            margin-right: 10px;
            text-align: right;
        }
        
          .info input[type="email"] {
            width: 300px;
            box-sizing: border-box;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 18px;
            box-shadow: 2px 2px 2px #888888;
        }

        button[type=submit]{
          background-color: #ffffff;
          color: #000000;
          border-radius: 5px;
          padding: 10px 20px;
          margin-bottom: 20px;
          text-align: center;
          border: 3px solid #000000;
          display:block;
          margin:0 auto;
          font-size: 18px;
          font-weight: bold;
          box-shadow: 2px 2px 2px #888888;
        }
        
    </style>

{%endblock%}