{% extends 'QuestAccounting/navbar_styling.html' %}


{% block content %}
<button type = "button" onclick = "location.href = '{% url 'view_accounts' %}'">
    <div class="form-center1">
        <h1>View Accounts</h1>
    </div>
</button>

<button type = "button" onclick = "location.href = '{% url 'edit_accounts' %}'">
    <div class="form-center2">
        <h1>Edit Accounts</h1>
    </div>
</button>

<button type = "button" onclick = "location.href = '{% url 'add_accounts' %}'">
    <div class="form-center3">
        <h1>Add Accounts</h1>
    </div>
</button>

<button type = "button" onclick = "location.href = '{% url 'deactivate_accounts' %}'">
    <div class="form-center4">
        <h1>Deactivate Accounts</h1>
    </div>
</button>

<style>

    .form-center1 {
        position: fixed;
        top: 35%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
        border-radius: 25px;
        width: 500px;
        height: 100px;
        border: 3px solid #ffffff;
        color: #ffffff;
      }

      .form-center2 {
        position: fixed;
        top: 45%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
        border-radius: 25px;
        width: 500px;
        height: 100px;
        border: 3px solid #ffffff;
        color: #ffffff;
      }

      .form-center3 {
        position: fixed;
        top: 55%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
        border-radius: 25px;
        width: 500px;
        height: 100px;
        border: 3px solid #ffffff;
        color: #ffffff;
      }

      .form-center4 {
        position: fixed;
        top: 65%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
        border-radius: 25px;
        width: 500px;
        height: 100px;
        border: 3px solid #ffffff;
        color: #ffffff;
      }

    .profile-picture {
        display: block;
        margin: 0 auto;
        height: 125px;
        border-radius: 50%;
        border: 3px solid #000000;
        margin-bottom: 35px;
        position: absolute;
        top: 90;
        right: 10;
    }

</style>

{% endblock %}