{% extends 'QuestAccounting/navbar_styling.html' %}


{% block content %}



    <div class="form-center">
        <h1>Accounts</h1>
        {% for account in account_info %}
      <li>{{ account.account_name }} - {{ account.account_number }}</li>
    {% endfor %}
    </div>


<style>

    .form-center {
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
        border-radius: 25px;
        padding: 25px;
        border: 3px solid #ffffff;
        color: #ffffff;
      }

    .profile-picture {
        display: block;
        margin: 0 auto;
        height: 125px;
        border-radius: 50%;
        border: 3px solid #000000;
        margin-bottom: 35px;
        position: absolute;
        top: 90;
        right: 10;
    }

</style>

{% endblock %}