{% extends 'QuestAccounting/navbar_styling.html' %}


{% block content %}



  <div class="form-center">
    <div class = top>
      <div class = back-button>
        {% if 'Manager' in groups %}
        <button type = "button" class = buttons onclick = "location.href = '{% url 'manager' %}'">Back</button>
        {% elif 'Regular' in groups %}
        <button type = "button" class = buttons onclick = "location.href = '{% url 'regular' %}'">Back</button>
        {% else %}
        <button type = "button" class = buttons onclick = "location.href = '{% url 'admin' %}'">Back</button>
        {% endif %}
      </div>
      <div class = title>
        <h1>Accounts</h1>
      </div>
      {% if 'Manager' in groups or 'Regular' in groups %}
    
      {% else %}
      <div class = add-button>
        <button type = "button" class = buttons onclick = "location.href = '{% url 'add_accounts' %}'">Add Account</button>
      </div>
      {% endif %}
    </div>
      <table>
        <thead>
          <tr>
            <th class = first>Account Name</th>
            <th>Account Number</th>
            <th>Account Description</th>
            <th>Normal Side</th>
            <th>Account Category</th>
            <th>Account Subcategory</th>
            <th>Initial Balance</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
            <th>Order</th>
            <th>Statement</th>
            <th>Comments</th>
            <th>Date Created</th>
            <th>User ID</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for account in account_info %}
            <tr>
            <td class = first>
              <div class = first-td>
                <button type = "button" class = buttons onclick = "location.href = '{% url 'general_ledger' account.account_name %}'">
                    {{ account.account_name }}
              </div>
              </button>
              {% if 'Manager' in groups or 'Regular' in groups %}
    
              {% else %}
                <button type="button" class= edit-button onclick="location.href='{% url 'edit_accounts' account.account_name %}'">
                  Edit
                </button>
              {% endif %}
              
            </td>
            <td>{{ account.account_number }}</td>
            <td>{{ account.account_description }}</td>
            <td>{{ account.normal_side }}</td>
            <td>{{ account.account_category }}</td>
            <td>{{ account.account_subcategory }}</td>
            <td>{{ account.initial_balance }}</td>
            <td>{{ account.debit }}</td>
            <td>{{ account.credit }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.order }}</td>
            <td>{{ account.statement }}</td>
            <td>{{ account.comment }}</td>
            <td>{{ account.created_at }}</td>
            <td>{{ account.user_id }}</td>
              {%if account.activated %}
                <td>
                  {% if 'Manager' in groups or 'Regular' in groups %}
                  Active
                  {% else %}
                    <button type = "button" class = buttons onclick = "location.href = '{% url 'deactivate_accounts' account.account_name %}'">
                            Active
                      </button>
                  {% endif %}
                </td>
              {%else%}
                  {% if 'Manager' in groups or 'Regular' in groups %}
                    Inactive
                  {% else %}
                    <button type = "button" class = buttons onclick = "location.href = '{% url 'deactivate_accounts' account.account_name %}'">
                      Inactive
                    </button>
                  {% endif %}
              {% endif %}
          {% endfor %}
  </div>

<style>

    .form-center {
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,#1973D1, #0C3BAA);
        border-radius: 25px;
        padding: 25px;
        border: 3px solid #ffffff;
        color: #ffffff;
      }
  
    table {
      margin-top: 15px;
      border-collapse: collapse;
      border: 2px solid black;
      max-width: 2000px;
      min-width: 70vw;
      width: auto;
    }

    th, td {
      text-align: center;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      color: #ffffff;
      vertical-align: center;
      padding: 5px;

    }
    
    .first {
      border-right: 2px solid black;
    }

    .first-td {
      border-right: 2px solid black;
      display: flex;
      align-items: center;
      
    }

    .edit-button {
      background-color: #ffffff;
      color: #000000;
      border-radius: 5px;
      border: 1px solid #000000;
      display: block;
      margin:0 auto;
      font-size: 12px;
      font-weight: bold;
      box-shadow: 2px 2px 2px #888888;
      margin-top: 10px;
    }

    .buttons {
      background-color: #ffffff;
      color: #000000;
      border-radius: 5px;
      padding: 10px 20px;
      margin-bottom: 20px;
      text-align: center;
      border: 3px solid #000000;
      display: block;
      margin:0 auto;
      font-size: 18px;
      font-weight: bold;
      box-shadow: 2px 2px 2px #888888;
      float: right;
    }
    
    {% if 'Manager' in groups or 'Regular' in groups %}
      .top {
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        width: 100%;
        margin-bottom: 15px;
        float: left;
      }

      .title {
        margin-left: 36%;
      }
    {% else %}
      .top {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
        float: left;
      }

      .title {
        margin-left: 36%;
      }
    {% endif %}

    .add-button {  
      margin-left: auto;
    }

</style>

{% endblock %}